#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/bin/zuluMount-gui
GenericName[en_US]=partition mounter
GenericName=partition mounter
Icon=/usr/share/icons/zuluMount.png
MimeType=
Name[en_US]=zuluMount
Name=zuluMount
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Utility;Qt;X-MandrivaLinux-System-FileTools;
